body
{
/*	border-style: solid;*/
	font-size: 20px;
	height:100%;
	max-width: 1380px;
	padding: 20px;
}
img{
  float: right;
	height: 150px;
	width:150px;
	padding-right: 27px;
}
.name{
	font-size: 2em;
  font-family: fantasy;
}
.obj h3{
	font-style: underline;
}
.qlfn table,th,td{
  border: 1px double black;
  text-align: center;
}
.sig p{
	align-content: center;
	text-align:right;
}
.sig{
	margin-right: 30px;

}
table{
/*	width: 15%;*/
}
fieldset {
            border-radius: 8px;
            border-width: 3px;
            padding: 20px;

        }


@media screen and (max-width:400px){
			th{
			font-size: 5px;
			}
}
