body
{
	border-style: solid;
	margin:25px;
	font-size: 20px;
}
img{
	float: right;
	height: 150px;
	width:150px;
    margin-right: 50px;
	border: 2px groove;
	border-color: black;

}
.info p{
	margin-left: 50px;
	font-size: 20px;
}
.obj {
	margin-left: 50px;
	font-size: 20px;
}
.obj h3{
	font-style: underline;

}
.qlfn table, th, td {
  border: 1px solid black;
  text-align: center;
}
.pa {
	margin-left: 50px;
}
.pd {
	margin-left: 50px;
}
.sig p{
	margin-left: 1064px;
	margin-bottom: 35px;
}